@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -ms-flex-item-align: center;
  align-self: center;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.checkbox {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -ms-flex-item-align: center;
  align-self: center;
}

html {
  overflow-x: hidden;
}

body {
  color: #333333;
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg__img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

footer {
  margin-top: auto;
}

.title {
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  font-size: calc(28px + 6 * ((100vw - 320px) / (1170 - 320)));
}

.accordion__title {
  cursor: pointer;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contacts__phone {
  margin-bottom: 12px;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  line-height: 34px;
  position: relative;
  padding-left: 22px;
}

.contacts__phone:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -5px;
  background-image: url(../img/header/phone.svg);
  width: 16px;
  height: 16px;
}

.contacts__mail {
  color: #333333;
  position: relative;
  padding-left: 50px;
  font-size: 17px;
  line-height: 20px;
}

.contacts__mail:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 26px;
  background-image: url(../img/header/mail.svg);
  width: 16px;
  height: 12px;
}

.slick-dots li {
  cursor: pointer;
}

.header {
  position: absolute;
  width: 100%;
  top: 64px;
  left: 0;
  z-index: 50;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__logo {
  position: relative;
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #E1E1E1;
  margin-right: 50px;
}

.header__logo:after {
  content: '';
  position: absolute;
  top: 15px;
  background: #D8D8D8;
  border: 1px solid #89AFEF;
  width: 2px;
  height: 40px;
  margin-left: 18px;
}

.header__text {
  font-size: 14px;
  line-height: 16px;
  color: #5D5D5D;
  max-width: 193px;
}

.header__burger {
  display: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  margin-bottom: 16px;
}

.header__list:last-child {
  margin: 0;
}

.header__item {
  margin-right: 55px;
}

.header__item:last-child {
  margin: 0;
}

.header__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 72px;
  margin-right: 104px;
}

.header__media-img {
  position: relative;
  margin-right: 18px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.header__media-img:last-child {
  margin: 0;
}

.header__media-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
}

.header__media-img_1 {
  background: #2DD038;
}

.header__media-img_1:before {
  background-image: url(../img/header/whatsapp.svg);
  width: 18px;
  height: 18px;
}

.header__media-img_2 {
  background: #7B519D;
}

.header__media-img_2:before {
  background-image: url(../img/header/viber.svg);
  width: 19px;
  height: 19px;
}

.header__media-img_3 {
  background: #5BBAF0;
}

.header__media-img_3:before {
  background-image: url(../img/header/telegram.svg);
  width: 16px;
  height: 14px;
}

.header__btn {
  min-width: 195px;
  min-height: 44px;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
  padding: 0 20px;
  margin-left: auto;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-bottom {
  padding-top: 25px;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

.footer {
  background: #333333;
  color: #fff;
}

.footer__wrapper {
  padding-top: 56px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15.5px;
}

.footer__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 15.5px;
}

.footer__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__title {
  margin-bottom: 27px;
  font-weight: bold;
  line-height: 27px;
  font-size: calc(20px + 2 * ((100vw - 320px) / (1170 - 320)));
}

.footer__list li {
  margin-bottom: 5px;
}

.footer__link {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  font-size: calc(13px + 1 * ((100vw - 320px) / (1170 - 320)));
}

.footer__copy {
  margin-top: 56px;
  padding: 20px 0px;
  border-top: 1px solid #4E4E4E;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #565656;
}

.info-footer__btn {
  font-weight: 600;
  max-width: 262px;
  padding: 0 53px;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  background: -webkit-gradient(linear, left top, right top, from(#F6BD60), to(#E88952));
  background: -o-linear-gradient(left, #F6BD60 0%, #E88952 100%);
  background: linear-gradient(90deg, #F6BD60 0%, #E88952 100%);
  -webkit-box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
  box-shadow: 0px 8px 15px rgba(242, 147, 81, 0.449492);
  border-radius: 3px;
}

.info-footer__logo {
  padding-top: 52px;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: rgba(255, 255, 255, 0.12653);
}

.media {
  margin-bottom: 50px;
}

.media__item {
  margin-bottom: 8px;
  color: #fff;
  display: block;
  position: relative;
}

.media__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.media__item_telegram {
  padding-left: 31px;
}

.media__item_telegram:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/telegram.svg);
  width: 21px;
  height: 18px;
}

.media__item_viber {
  padding-left: 35px;
}

.media__item_viber:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/viber.svg);
  width: 21px;
  height: 22px;
}

.media__item_whatsapp {
  padding-left: 33px;
}

.media__item_whatsapp:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/whatsapp.svg);
  width: 21px;
  height: 21px;
}

.media__item_phone {
  padding-left: 32px;
}

.media__item_phone:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/call.svg);
  width: 19px;
  height: 19px;
}

.media__item_mail {
  padding-left: 26px;
}

.media__item_mail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/mail.svg);
  width: 21px;
  height: 15px;
}

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slider {
  position: relative;
}


body {
  background-color: #fff;
}

a {
  color: #333;
}

li {
  color: #333;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
}

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  padding-top: 286px;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.main-screen__wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 5;
}

.main-screen__title {
  z-index: 2;
  font-weight: 900;
  line-height: 51px;
  margin-bottom: 20px;
  max-width: 900px;
  font-size: calc(24px + 16 * ((100vw - 320px) / (1170 - 320)));
}

.main-screen__subtitle {
  z-index: 2;
  font-size: calc(18px + 6 * ((100vw - 320px) / (1170 - 320)));
  line-height: 28px;
  margin-bottom: 33px;
}

.main-screen__subtitle span {
  font-size: calc(20px + 4 * ((100vw - 320px) / (1170 - 320)));
  font-weight: 800;
  line-height: 31px;
}

.main-screen__btn {
  z-index: 2;
  min-width: 211px;
  min-height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#87AFF1), color-stop(100%, #6C80CB), to(#6C80CB));
  background: -o-linear-gradient(left, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  background: linear-gradient(90deg, #87AFF1 0%, #6C80CB 100%, #6C80CB 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px;
  margin-right: auto;
}

.main-screen__img {
  position: absolute;
  bottom: -48px;
  right: 320px;
}

.documents {
  padding-top: 65px;
  padding-bottom: 70px;
}

.documents__title {
  margin-bottom: 45px;
}

.documents__row {
  margin: 0 -15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.documents__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.documents__item {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.1);
  max-width: 262px;
  max-height: 100%;
  min-height: 192px;
  padding: 0px 30px;
}

.documents__img {
  margin-bottom: 16px;
}

.documents__name {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  font-size: calc(17px + 2 * ((100vw - 320px) / (1170 - 320)));
}

.advantages {
  background: #F6F6F6;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 42.5px 0;
}

.advantages__row {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

.advantages__item {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__img {
  position: relative;
  width: 98px;
  height: 98px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  margin-bottom: 15px;
}

.advantages__img img {
  margin-bottom: 15px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
}

.advantages__title {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 7px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: calc(18px + 4 * ((100vw - 320px) / (1170 - 320)));
}

.advantages__subtitle {
  font-size: 17px;
  line-height: 25px;
  font-size: calc(15px + 2 * ((100vw - 320px) / (1170 - 320)));
}

.slider-overflow {
  width: calc(100% + 30px);
  padding: 0 15px;
  margin-left: -15px;
  overflow: hidden;
}

.slick-slide .programms__item {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
  transition: -webkit-box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
}

.slick-slide.slick-active .programms__item {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.programms {
  padding-top: 52px;
}

.programms__title {
  margin-bottom: 40px;
}

.programms__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.programms__column {
  margin-right: 28px;
}

.programms__column:last-child {
  margin: 0;
}

.programms__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  padding: 25px 25px 20px;
}

.programms__img {
  margin-bottom: 17px;
}

.programms__name {
  font-weight: 800;
  font-size: 19px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 23px;
}

.programms__group {
  color: #53B43B;
  margin-bottom: 22px;
  position: relative;
}

.programms__group:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -15px;
  background-image: url(../img/group.svg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 6px;
  height: 5px;
}

.programms__group:after {
  content: '';
  position: absolute;
  top: 6px;
  left: -18px;
  width: 13px;
  height: 13px;
  border: 0.5px solid #53B43B;
  border-radius: 50%;
}

.programms__price {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
}

.programms .slick-list {
  overflow: visible;
}

.programms .slick-dots {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0;
}

.programms .slick-dots li {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #E4E4E4;
  margin-right: 10px;
}

.programms .slick-dots li.slick-active {
  border: 2px solid #84AAED;
  background-color: #fff;
}
.example {
  margin-top: 71px;
  background: #F6F6F6;
}
.example-container {
  max-width: 478px;
  margin: 0 auto;
  position: relative;
  padding-top: 48px;
  padding-bottom: 74px;
}

.example__title {
  margin-bottom: 43px;
}
.example-container .swiper-slide {
  text-align: center;
}
.example-container .swiper-button-next,
.example-container .swiper-button-prev {
  top: 60%;
}
.example-container .swiper-button-next:after,
.example-container .swiper-button-prev:after {
  color: #ACACAC;
}
@media (min-width:320px){
  .example-container .swiper-button-next:after,
  .example-container .swiper-button-prev:after {
    font-size: 35px;
  }
  .example-container .swiper-button-next {
    right: 5px;
  }
  .example-container .swiper-button-prev {
    left: 5px;
  }
}

@media (min-width:600px){
  .example-container .swiper-button-next {
    right: -50px;
  }
  .example-container .swiper-button-prev {
    left: -50px;
  }
}

@media (min-width:900px){
  .example-container {
    max-width: 740px;
  }
  .example-container .swiper-button-next:after,
  .example-container .swiper-button-prev:after {
    font-size: 39px;
  }
  .example-container .swiper-button-next {
    right: -67px;
  }
  .example-container .swiper-button-prev {
    left: -69px;
  }
}
@media (min-width:1200px){
  .example-container {
    max-width: 1005px;
  }
}

.newsactions {
  padding-bottom: 70px;
  padding-top: 52px;
}

.newsactions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
}

.newsactions__title {
  margin-bottom: 40px;
}

.newsactions__btn {
  margin: 0 auto;
  border: 2px solid #6D81CC;
  border-radius: 3px;
  width: 225px;
  height: 46px;
  line-height: 19px;
  text-transform: uppercase;
  color: #6D81CC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stock {
  margin-right: 31px;
}

.stock__wrapper {
  width: 554px;
  min-height: 350px;
  height: 100%;
  background: #FAFAFB;
  position: relative;
  padding: 41px 32px;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
}

.stock__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/news/stock-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 243px;
  height: 100%;
}

.stock__title {
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 25px;
  max-width: 272px;
  font-size: calc(20px + 4 * ((100vw - 320px) / (1170 - 320)));
}

.stock__title span {
  color: #86ADEF;
}

.stock__text {
  max-width: 241px;
  font-size: calc(14px + 2 * ((100vw - 320px) / (1170 - 320)));
}

.stock__img {
  position: absolute;
  right: 0;
  top: 49px;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.news__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

.news__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  padding: 27px 23px 16px 24px;
  max-width: 262px;
  width: 100%;
  min-height: 348px;
  height: 100%;
}

.news__img {
  margin-bottom: 16px;
}

.news__date {
  font-size: 14px;
  line-height: 16px;
  color: #ABABAB;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1170 - 320)));
  margin-bottom: 15px;
}

.news__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  font-size: calc(17px + 2 * ((100vw - 320px) / (1170 - 320)));
  margin-bottom: 15px;
}

.news__subtitle {
  font-size: calc(13px + 3 * ((100vw - 320px) / (1170 - 320)));
  line-height: 19px;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media (max-width: 1500px) {
  .main-screen__img {
    right: 0;
    width: 300px;
  }
}

@media (max-width: 1260px) {
  .advantages__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    margin-bottom: 30px;
  }

  .advantages__column:last-child {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .header__item {
    margin-right: 25px;
  }

  .header__media {
    margin-left: 10px;
    margin-right: 19px;
  }
}

@media (max-width: 1060px) {
  .newsactions__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .newsactions__title {
    margin-bottom: 30px;
  }

  .stock {
    margin-right: 0;
  }

  .stock__wrapper {
    max-width: 554px;
    width: 100%;
    margin: 0 auto;
  }

  .news__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .news__row {
    padding-top: 30px;
  }

  .news__column {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    max-width: unset;
  }
}

@media (max-width: 1024px) {
  .header {
    top: 40px;
  }
}

@media (max-width: 1023px) {
  .header__btn {
    display: none;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 30px;
    height: 20px;
    z-index: 1000;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
    background-color: #fff;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #fff;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #86adef;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
    z-index: 999;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
    color: #fff;
  }

  .main-screen {
    padding-top: 250px;
  }
}

@media (max-width: 970px) {
  .main-screen__img {
    width: 200px;
  }

  .documents__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0 10px;
  }

  .documents__column:nth-child(4) {
    padding-top: 30px;
  }

  .advantages__column {
    max-width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .advantages__title {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }

  .advantages__subtitle {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

@media (max-width: 970px) and (max-width: 560px) {
  .documents__column:nth-child(4) {
    padding-top: 0px;
  }
}

@media (max-width: 860px) {
  .header__logo {
    margin-right: 30px;
    font-size: 40px;
  }

  .header__media-img {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .accordion__content {
    display: none;
  }

  .footer__wrapper {
    padding-top: 30px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: unset;
  }

  .footer__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: unset;
    margin-bottom: 10.5px;
  }

  .footer__title {
    margin-bottom: 10.5px;
    line-height: 25px;
  }

  .footer__copy {
    margin-top: 0px;
    padding: 15px 0;
  }

  .info-footer__logo {
    padding-top: 30px;
  }

  .media {
    margin-bottom: 30px;
  }

  .main-screen__title {
    line-height: 31px;
    margin-bottom: 10px;
  }

  .main-screen__subtitle span {
    line-height: 23px;
  }

  .main-screen__subtitle {
    line-height: 20px;
  }

  .documents__row {
    margin: 0 -10px;
    margin-bottom: 20px;
  }

  .documents__row:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .contacts {
    display: none;
  }

  .header {
    top: 20px;
  }

  .main-screen {
    padding-top: 200px;
  }

  .main-screen__img {
    bottom: 0;
  }

  .documents {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .documents__title {
    margin-bottom: 25px;
  }

  .advantages__wrapper {
    padding: 20.5px 0;
  }

  .programms__name {
    font-size: 16px;
    line-height: 20px;
  }

  .programms__group {
    margin-bottom: 10px;
  }

  .programms__price {
    font-size: 19px;
    line-height: 24px;
  }

  .examples {
    margin-top: 50px;
  }

  .examples__wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .examples__title {
    margin-bottom: 20px;
  }

  .newsactions {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .newsactions__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) and (max-width: 560px) {
  .examples {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .stock__wrapper:before {
    width: 90px;
  }

  .stock__img {
    display: none;
  }
}

@media (max-width: 570px) {
  .advantages__column {
    max-width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media (max-width: 560px) {
  .header__media {
    display: none;
  }

  .main-screen {
    padding-top: 150px;
  }

  .main-screen__img {
    display: none;
  }

  .documents__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .documents__column:nth-child(1),
  .documents__column:nth-child(2) {
    margin-bottom: 20px;
  }

  .examples__wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .newsactions {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .newsactions__wrapper {
    margin-bottom: 20px;
  }

  .news__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .news__column {
    margin-bottom: 20px;
  }

  .news__column:last-child {
    margin: 0;
  }
}

@media (max-width: 425px) {
  .header {
    top: 10px;
  }

  .header__logo {
    margin-right: 24px;
    font-size: 30px;
  }

  .header__logo:after {
    margin-left: 10px;
    height: 30px;
  }

  .header__text {
    max-width: 155px;
    font-size: 12px;
    line-height: 14px;
  }

  .documents__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .documents__column:last-child {
    margin-bottom: 0;
  }

  .documents__item {
    margin: 0px auto;
  }
}